HMAC_SECRET=<512 bits in base64>
RGAPI_KEY=RGAPI-12345678-1234-1234-1234-12345678abcd
RSO_CLIENT_SECRET=1A2B34C-DEfg56h-IjKLMNOPqr7stuVW8Yz8abcDefg
REDDIT_OWNER_USERNAME=RedditUserName
REDDIT_CLIENT_SECRET=abCdEfGhijkLM1n2O3pqrS4t_UV
